<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}"></link>
    <script src="{% static 'app/js/jquery-2.2.1.min.js' %}"></script>
  </head>
  <body>

    <form action='res/'  method="POST">
    {% csrf_token %}
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel panel-default">
      <div class="page-header"><h1> ❖ Configuración </h1></div>
      <div class="panel-body">
        <!-- Default panel contents -->
        <!--Transporte-->
        <div class="panel panel-default">
          <div class="panel-body">
            Transporte
          </div>
          <div class="panel-footer">
            <label class="radio-inline"><input type="radio" name="transporteRadio" id="inlineRadio1" value="auto" checked> Auto </label>
            <label class="radio-inline"><input type="radio" name="transporteRadio" id="inlineRadio2" value="caminando"> Caminando </label>
            <label class="radio-inline"><input type="radio" name="transporteRadio" id="inlineRadio3" value="omnibus"> Omnibus </label></br>
          </div>
        <!--Transporte-->
        </div>
        <!--Anclas-->
        <div class="panel panel-default">
          <div class="panel-body"> Anclas Temporales </div>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" name = anclaTra id="inlineCheckbox1" value="trabajo" checked> Trabajo </label>
            <label class="checkbox-inline"><input type="checkbox" name = anclaJar id="inlineCheckbox2" value="jardin" checked> Jardin </label></br>
        </div>
      </div>
        <!--Anclas-->
        <!--Mutualistas-->
        <div class="panel panel-default">
        <div class="panel-body"> Mutualistas </div>
        <div class="panel-footer">
          <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkB" value="default" checked> Utilizar predeterminadas wew</label></br>
            <div id="mutualistasContainer"  hidden="true">
              </br>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="ignorar"> Ignorar </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="ASSE"> ASSE </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="ASOCIACION ESPANOLA"> As. Española </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="CASA DE GALICIA"> Casa de Galicia </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="CASMU"> CASMU </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="CIRCULO CATOLICO"> Circulo Catolico </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="COSEM"> Cosem </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="CUDAM"> Cudam </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="GREMCA"> Gremca </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="HOSPITAL BRITANICO"> H. Britanico </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="HOSPITAL EVANGELICO"> H. Evangelico </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="MEDICA URUGUAYA"> Medica Uruguaya </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="MP"> MP </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="SMI"> SMI </label>
              <label class="radio-inline"><input type="radio" name="mutualistasRadio" id="inlineRadio" value="UNIVERSAL"> Universal </label>
            </div>
          </div>
        </div>
        <!--Mutualistas-->
        <!--Tiempo transporte-->
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo Maximo de Transporte</span>
              <input type="text" name = tiempoTransporte class="form-control" placeholder="60 minutos" aria-describedby="sizing-addon2">
            </div>
          </div>
        <!--Tiempo transporte-->
        <!--Tiempo consulta-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo de Consulta</span>
              <input type="text" name = tiempoConsulta class="form-control" placeholder="30 minutos" aria-describedby="sizing-addon2">
            </div>
          </div>
        <!--Tiempo consulta-->
      </div><button type="submit" class="btn btn-primary">Realizar consulta</button>
      </div>
    </div>
  </div>
</form>
  </body>
  <script type="text/javascript">
    $(document).ready(function(){
    $('input[name="checkB"]').change(function(){
        if(this.checked)
            $('#mutualistasContainer').hide();
        else
            $('#mutualistasContainer').show();
        });
    });
</script>
</html>
