{% load django_tables2 %}
{% load bootstrap3 %}
{% load static %}
<link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'app/css/main.css' %}">
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
      <!--NavBar-->
      <nav class="navbar navbar-default" style="height:102px;text-align:center;">
        <div class="container-fluid" style="height:100px;width:1150px;text-align:center;">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><div class="panel panel-default" style="height:100px; width:195px;"><div class="panel-body"><b>Individuo</b>
                    <input type="text" id="myInput" onkeyup="filter()" placeholder="Buscar por Individuo.." class="form-control"></div>
              </div></li>
              <li><div class="panel panel-default" style="height:100px; width:195px;"><div class="panel-body"><b>Centro</b>
                    <input type="text" id="myInput1" onkeyup="filter()" placeholder="Buscar por Centro.." class="form-control"></div>
              </div></li>
              <li><div class="panel panel-default" style="height:100px; width:195px;"><div class="panel-body"><b>Dia</b>
                    <input type="text" id="myInput2" onkeyup="filter()" placeholder="Buscar por Dia.." class="form-control"></div>
              </div></li>
                <li><div class="panel panel-default" style="height:100px; width:355px;"><div class="panel-body">
              <input type="checkbox" id="hide_id"><b>ID</b>
              <input type="checkbox" id="hide_individuo"><b>Individuo</b>
              <input type="checkbox" id="hide_centro"><b>Centro</b>
              <input type="checkbox" id="hide_dia"><b>Dia</b>
              <input type="checkbox" id="hide_hora"><b>Hora</b>
              <input type="checkbox" id="hide_t_caminando"><b>T. Cam.</b><br>
              <input type="checkbox" id="hide_t_omnibus"><b>T. Omn.</b>
              <input type="checkbox" id="hide_t_auto"><b>T. Auto</b>
              <input type="checkbox" id="hide_cant_ped"><b>Cant. Ped.</b>
              <input type="checkbox" id="hide_llega"><b>Llega</b><br>
              <button class="btn btn-primary btn-xs" onclick='hideColumns()'>Ocultar Selección</button>
              <button class="btn btn-primary btn-xs" onclick='unHide()'>Mostar Selección</button></div></li>
              <li><div style="height:45px; width:110px;text-align:center;"><button class="btn btn-primary" onclick="printPage()">Descargar</button></div></li>
              <li><div style="height:45px; width:110px;text-align:center;"><button class="btn btn-primary" onclick="">Resumen</button></div></li>
          </ul>
          </div>
        </div>
      </nav>
      <div style="height:102px;text-align:center;">
        {% for format in table.export_formats %}
            <a href="{% querystring '_export'=format %}">
                download  <code>.{{ format }}</code>
            </a>
        {% endfor %}
        {% render_table table 'django_tables2/bootstrap.html' %}
      </div>
    </body>
    <script type = "text/javascript">
      function hideColumns(){
        var cols = document.querySelectorAll("th");
        var rows = document.querySelectorAll("tr");
        if(document.getElementById("hide_id").checked) {
          rows[0].style.display='none';
          cols[0].style.display='none';
        }
        else {
          rows[0].style.display = '';
          cols[0].style.display = '';
        }
        if(document.getElementById("hide_individuo").checked) {
          rows[1].style.display='none';
          cols[1].style.display='none';
        }
        else {
          rows[1].style.display = '';
          cols[1].style.display = '';
        }
        if(document.getElementById("hide_centro").checked) {
          rows[2].style.display='none';
          cols[2].style.display='none';
        }
        else {
          rows[2].style.display = '';
          cols[2].style.display = '';
        }
        if(document.getElementById("hide_dia").checked) {
          rows[3].style.display='none';
          cols[3].style.display='none';
        }
        else {
          rows[3].style.display = '';
          cols[3].style.display = '';
        }
        if(document.getElementById("hide_hora").checked) {
          rows[4].style.display='none';
          cols[4].style.display='none';
        }
        else {
          rows[4].style.display = '';
          cols[4].style.display = '';
        }
        if(document.getElementById("hide_t_caminando").checked) {
          rows[5].style.display='none';
          cols[5].style.display='none';
        }
        else {
          rows[5].style.display = '';
          cols[5].style.display = '';
        }
        if(document.getElementById("hide_t_omnibus").checked) {
          rows[6].style.display='none';
          cols[6].style.display='none';
        }
        else {
          rows[6].style.display = '';
          cols[6].style.display = '';
        }
        if(document.getElementById("hide_t_auto").checked) {
          rows[7].style.display='none';
          cols[7].style.display='none';
        }
        else {
          rows[7].style.display = '';
          cols[7].style.display = '';
        }
        if(document.getElementById("hide_cant_ped").checked) {
          rows[8].style.display='none';
          cols[8].style.display='none';
        }
        else {
          rows[8].style.display = '';
          cols[8].style.display = '';
        }
        if(document.getElementById("hide_llega").checked) {
          rows[9].style.display='none';
          cols[9].style.display='none';
        }
        else {
          rows[9].style.display = '';
          cols[9].style.display = '';
        }
      }
      function unHide(){
        var rows = document.querySelectorAll("th");
        for(var i=0;i<rows.length;i++) rows[i].style.display = '';
      }
      function printPage() {
        window.print();
      }
      function filter() {
          var persona = document.getElementById("myInput").value.toUpperCase().trim();
          var centro  = document.getElementById("myInput1").value.toUpperCase().trim();
          var dia     = document.getElementById("myInput2").value.toUpperCase().trim();
          var rows = document.querySelectorAll("tr");
          for (var i = 1; i < rows.length; i++) {
              var items = rows[i].querySelectorAll("td");
              if (items.length === 0) continue;
              var id_persona = items[1];//Arreglar
              var id_centro = items[2];
              var id_dia = items[3];
              var id_p_text = id_persona.innerHTML.toUpperCase().trim();
              var id_c_text = id_centro.innerHTML.toUpperCase().trim();
              var id_dia_text = id_dia.innerHTML.toUpperCase().trim();
              if (id_p_text.includes(persona) &&
                  id_c_text.includes(centro) &&
                  id_dia_text.includes(dia)) {
                  rows[i].style.display = "";
              } else {
                  rows[i].style.display = "none";
              }
          }
      }
    </script>
</html>
