<!DOCTYPE html>
<html>
  <head>
		<meta charset="UTF-8">
		<title>Proyecto 2017</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}"></link>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    </head>
  <body>
    <!--NavBar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          <!--1-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#cargar_datos">Cargar Datos</a></li>
                <li><a href="#" data-toggle="modal" data-target="#respaldar_datos">Respaldar Datos</a></li>
                <li role="separator" class="divider"></li>
              </ul>
            </li>
          <!--1-->
          <!--2-->
          <li><a href="#" data-toggle="modal" data-target="#config">Configuración</a></li>
          <!--2-->
          <!--3-->
          <li><a href="#" data-toggle="modal" data-target="#sim">Simular</a></li>
          <!--3-->
          <!--4-->
          <li><a href="#" data-toggle="modal" data-target="#fil">Ejecutar</a></li>
          <!--4-->
          <!--5-->
          <li><a href="#" data-toggle="modal" data-target="#rsm">Resumen</a></li>
          <!--5-->
          </ul>
        </div>
      </div>
    </nav>
    <!--NavBar-->
    <!--2-Config-->
    <div id="config" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <form action=''  method="POST">
      {% csrf_token %}
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configuración</h4>
        </div>
        <div class="modal-body">
          <!--Tiempo transporte-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo Maximo de Transporte</span>
              <input type="text" name = tiempoTransporte class="form-control" placeholder="{{tiempoMaximo}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Tiempo transporte-->
          <!--Tiempo consulta-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo de Consulta</span>
              <input type="text" name = tiempoConsulta class="form-control" placeholder="{{tiempoConsulta}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Tiempo consulta-->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  <!--2-Config-->
  <!--3-Config-->
  <div id="sim" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='consulta/'  method="POST">
    {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Simular</h4>
        </div>
        <div class="modal-body">
          <!--Transporte-->
          <div class="panel panel-default">
            <div class="panel-body">
              Transporte
            </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkM" value="default" checked> Utilizar predeterminadas</label></br>
              <div id="transportesContainer" hidden="true">
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio1" value="1"> Auto </label>
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio2" value="0"> Caminando </label>
                <label class="radio-inline disabled"><input type="radio" name="tipoTransporte" id="inlineRadio3" value="2" disabled> Omnibus </label></br>
              </div>
            </div>
          <!--Transporte-->
          </div>
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-body"> Anclas Temporales </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" name = anclaTra id="inlineCheckbox1" value="trabajo" checked> Trabajo </label>
              <label class="checkbox-inline"><input type="checkbox" name = anclaJar id="inlineCheckbox2" value="jardin" checked> Jardin </label></br>
            </div>
          </div>
          <!--Anclas-->
          <!--Mutualistas-->
          <div class="panel panel-default">
          <div class="panel-body"> Mutualistas </div>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkB" value="default" checked> Utilizar predeterminadas</label></br>
              <div id="mutualistasContainer"  hidden="true">
                <!--label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="ignorar"> Por defecto </label-->
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="ASSE"> ASSE </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="ASOCIACION ESPANOLA"> As. Española </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="CASA DE GALICIA"> Casa de Galicia </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="CASMU"> CASMU </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="CIRCULO CATOLICO"> Circulo Catolico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="COSEM"> Cosem </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="CUDAM"> Cudam </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="GREMCA"> Gremca </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="HOSPITAL BRITANICO"> H. Britanico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="HOSPITAL EVANGELICO"> H. Evangelico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="MEDICA URUGUAYA"> Medica Uruguaya </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="MP"> MP </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="SMI"> SMI </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="UNIVERSAL"> Universal </label>
              </div>
            </div>
          </div>
          <!--Mutualistas-->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--3-Config-->
  <!--4-Config-->
  <div id="fil" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='test/'  method="GET">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ejecutar</h4>
        </div>
        <div class="modal-body">
          <!--Transporte-->
          <div class="panel panel-default">
            <div class="panel-body"><input type="checkbox" id="cbf" name="checkBf" value="default" checked> Prestadores a mostrar</div>
              <div class="panel-footer">
                <div id="mutualistasContainerFiltros"  hidden="true">
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="ASSE" checked> ASSE </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="ASOCIACION ESPANOLA" checked> As. Española </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="CASA DE GALICIA" checked> Casa de Galicia </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="CASMU" checked> CASMU </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="CIRCULO CATOLICO" checked> Circulo Catolico </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="COSEM" checked> Cosem </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="CUDAM" checked> Cudam </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="GREMCA" checked> Gremca </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="HOSPITAL BRITANICO" checked> H. Britanico </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="HOSPITAL EVANGELICO" checked> H. Evangelico </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="MEDICA URUGUAYA" checked> Medica Uruguaya </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="MP" checked> MP </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="SMI" checked> SMI </label>
              <label class="checkbox-inline"><input type="checkbox" name="prestador" id="inlineChk" value="UNIVERSAL" checked> Universal </label>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body"><input type="checkbox" id="cbf2" name="checkBf2" value="default" checked> Medios de transporte a mostrar</div>
            <div class="panel-footer">
              <div id="transporteContainerFiltros"  hidden="true">
                  <label class="checkbox-inline"><input type="checkbox" name="tipoTransporte" id="inlineChk2" value="1" checked> Auto </label>
                  <label class="checkbox-inline"><input type="checkbox" name="tipoTransporte" id="inlineChk2" value="2" checked> Omnibus </label>
                  <label class="checkbox-inline"><input type="checkbox" name="tipoTransporte" id="inlineChk2" value="0" checked> Caminando </label>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body"><input type="checkbox" id="cbf3" name="checkBf3" value="default" checked> Dias a mostrar</div>
                <div class="panel-footer">
                  <div id="diasContainerFiltros"  hidden="true">
                    <label class="checkbox-inline"><input type="checkbox" name="dia" id="inlineChk3" value="0" checked> Lunes </label>
                    <label class="checkbox-inline"><input type="checkbox" name="dia" id="inlineChk3" value="1" checked> Martes </label>
                    <label class="checkbox-inline"><input type="checkbox" name="dia" id="inlineChk3" value="2" checked> Miercoles </label>
                    <label class="checkbox-inline"><input type="checkbox" name="dia" id="inlineChk3" value="3" checked> Jueves </label>
                    <label class="checkbox-inline"><input type="checkbox" name="dia" id="inlineChk3" value="4" checked> Viernes </label>
                    <label class="checkbox-inline"><input type="checkbox" name="dia" id="inlineChk3" value="5" checked> Sabado </label>
                  </div>
              </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-body"><input type="checkbox" id="cbf3" name="checkBf4" value="default" checked> Horas a mostrar</div>
            <div class="panel-footer">
              <div id="horasContainerFiltros"  hidden="true">
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro0" id="inlineChk4" value="000" checked> 0 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro1" id="inlineChk4" value="100" checked> 1 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro2" id="inlineChk4" value="200" checked> 2 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro3" id="inlineChk4" value="300" checked> 3 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro4" id="inlineChk4" value="400" checked> 4 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro5" id="inlineChk4" value="500" checked> 5 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro6" id="inlineChk4" value="600" checked> 6 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro7" id="inlineChk4" value="700" checked> 7 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro8" id="inlineChk4" value="800" checked> 8 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro9" id="inlineChk4" value="900" checked> 9 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro10" id="inlineChk4" value="1000" checked> 10 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro11" id="inlineChk4" value="1100" checked> 11 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro12" id="inlineChk4" value="1200" checked> 12 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro13" id="inlineChk4" value="1300" checked> 13 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro14" id="inlineChk4" value="1400" checked> 14 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro15" id="inlineChk4" value="1500" checked> 15 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro16" id="inlineChk4" value="1600" checked> 16 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro17" id="inlineChk4" value="1700" checked> 17 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro18" id="inlineChk4" value="1800" checked> 18 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro19" id="inlineChk4" value="1900" checked> 19 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro20" id="inlineChk4" value="2000" checked> 20 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro21" id="inlineChk4" value="2100" checked> 21 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro22" id="inlineChk4" value="2200" checked> 22 </label>
                <label class="checkbox-inline"><input type="checkbox" name="horasFiltro23" id="inlineChk4" value="2300" checked> 23 </label>
              </div>
          </div>
          </div>
          <!--Mutualistas-->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--4-Config-->
  <!--5-Config-->
  <div id="rsm" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='resumen/'  method="POST">
    {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Resumen</h4>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--5-Config-->
  <!--1-Config-->
  <div id="cargar_datos" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cargar Datos</h4>
      </div>
      <div class="modal-body">
        <!--alert-->
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>Advertencia: </strong> Se remplazan los datos existentes en la base de datos.
        </div>
        <!--alert-->
       <form action=''  method="post", enctype="multipart/form-data">
         {% csrf_token %}
         <fieldset class="form-group">
           <p>Seleccione los datos a cargar</p>
           <div class="form-check">
             <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
               Conjunto de datos para mutualistas
             </label>
           </div>
           <div class="form-check">
           <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
               Conjunto de datos para personas
             </label>
             <div class="form-check">
               <label class="form-check-label">
                 <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" checked>
                 Matriz transporte privado
               </label>
             </div>
             <div class="form-check">
             <label class="form-check-label">
                 <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4">
                 Matriz caminando
               </label>
             </div>
             <div class="form-check">
               <label class="form-check-label">
                 <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios5" value="option5" checked>
                 Conjunto de datos para centros
               </label>
             </div>
           </div>
         </fieldset>
         <div class="form-group">
           <label for="inputFile">Seleccione un archivo</label>
           <input type="file" class="form-control-file" name = "inputFile" aria-describedby="fileHelp">
           <small id="fileHelp" class="form-text text-muted">Seleccione el archivo en formato csv.</small>
         </div>
     </div>
     <div class="modal-footer">
       <button type="submit" class="btn btn-primary btn-lg " id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cargando " name="submit" value="Upload" />Cargar</button>
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
       </div>
     </div>
   </form>
   </div>
 </div>
  <!--1-Config-->
  <!--1.2-Config-->
  <div id="respaldar_datos" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Respaldar Datos</h4>
      </div>
      <div class="modal-body">
        <form>
          <fieldset class="form-group">
            <p>Seleccione los datos a respaldar</p>
          </fieldset>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" id="downloadBox" value="download_mutualistas" checked> Conjunto de datos de mutualistas </label>
            <label class="checkbox-inline"><input type="checkbox" id="downlaodBox" value="download_personas" checked> Conjunto de datos de personas </label></br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button-imp" class="btn btn-primary" data-dismiss="modal"  onclick="showAlert()">Descargar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--1.2-Config-->
  <!--1.3-Config-->
    <div id="importar_matriz" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Importar Matriz</h4>
        </div>
        <div class="modal-body">
          <!--alert-->
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Advertencia: </strong> Se remplazan los datos existentes en la base de datos.
          </div>
          <!--alert-->
          <form action=''  method="post",  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <p>Seleccione la matriz a cargar</p>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionRadioMatrix" id="optionsRadios1" value="option1" checked>
                  Matriz transporte privado
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionRadioMatrix" id="optionsRadios2" value="option2">
                  Matriz caminando
                </label>
              </div>
            </fieldset>
            <div class="form-group">
              <label for="exampleInputFile">Seleccione un archivo</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <input type="submit" class="btn btn-primary" name="submit" value="Upload">
              <small id="fileHelp" class="form-text text-muted">Seleccione el archivo en formato csv.</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal"  onclick="showAlert()">Importar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!--1.3-Config-->
  <!--1.4-Config-->
  <div id="exportar_matriz" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Exportar Matriz</h4>
      </div>
      <div class="modal-body">
        <form>
          <fieldset class="form-group">
            <p>Seleccione los datos a exportar</p>
          </fieldset>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" id="downloadBox" value="download_mutualistas" checked>Matriz transporte privado</label>
            <label class="checkbox-inline"><input type="checkbox" id="downlaodBox" value="download_personas" checked> Matriz caminando </label></br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button-imp" class="btn btn-primary" data-dismiss="modal"  onclick="showAlert()">Descargar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--1.4-Config-->
  <!--1-alert-->
  <div id="implementar" class="alert alert-info alert-dismissable" style="display: none;">
    <a href="#" class="close" onclick="showAlert()">×</a>
    <strong> Función no implementada</strong> en la demo.
  </div>
  <!--1-alert-->

  </body>
  <footer class="container-fluid">UCU ©2017</footer>
  {% load static %}
  <script src="{% static 'app/js/jquery-2.2.1.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">
  $('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 999999);
});
  //Mostrar mutualustas
    $(document).ready(function(){
    $('input[name="checkB"]').change(function(){
        if(this.checked)
            $('#mutualistasContainer').hide();
        else
            $('#mutualistasContainer').show();
        });
    });
    //Mostrar transportes
      $(document).ready(function(){
      $('input[name="checkM"]').change(function(){
          if(this.checked)
              $('#transportesContainer').hide();
          else
              $('#transportesContainer').show();
          });
      });
      //Show Hide alert
      function showAlert() {
        var x = document.getElementById('implementar');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    //Mostrar mutualustas
      $(document).ready(function(){
      $('input[name="checkB"]').change(function(){
          if(this.checked)
              $('#mutualistasContainer').hide();
          else
              $('#mutualistasContainer').show();
          });
      });
      //Mostrar transportes
        $(document).ready(function(){
        $('input[name="checkM"]').change(function(){
            if(this.checked)
                $('#transportesContainer').show();
            else
                $('#transportesContainer').hide();
            });
        });
        //Mostrar mutualustas filtros
          $(document).ready(function(){
          $('input[name="checkBf"]').change(function(){
              if(this.checked)
                  $('#mutualistasContainerFiltros').hide();
              else
                  $('#mutualistasContainerFiltros').show();
              });
          });
          //Mostrar transporte filtros
            $(document).ready(function(){
            $('input[name="checkBf2"]').change(function(){
                if(this.checked)
                    $('#transporteContainerFiltros').hide();
                else
                    $('#transporteContainerFiltros').show();
                });
            });
            //Mostrar transporte filtros
              $(document).ready(function(){
              $('input[name="checkBf3"]').change(function(){
                  if(this.checked)
                      $('#diasContainerFiltros').hide();
                  else
                      $('#diasContainerFiltros').show();
                  });
              });
              //Mostrar horas filtros
                $(document).ready(function(){
                $('input[name="checkBf4"]').change(function(){
                    if(this.checked)
                        $('#horasContainerFiltros').hide();
                    else
                        $('#horasContainerFiltros').show();
                    });
                });
  </script>
</html>
