<!DOCTYPE html>
<html>
  <head>
    <style>
     #map {
       width: 100%;
       height: 850px;
       background-color: white;
     }
     .btn-circle-micro {
      width: 15px;
      height: 15px;
      text-align: center;
      padding: 1px 0;
      font-size: 10px;
      line-height: 0.1;
      border-radius: 30px;
    }
    </style>
		<meta charset="UTF-8">
		<title>Proyecto 2017</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}"></link>
    </head>
  <body>
    <!--NavBar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><a class="navbar-brand" href="#">Proyecto 2017-2018</a>
          <ul class="nav navbar-nav">
          <!--1-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cargar<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#cargar_datos">Cargar Datos &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Cargar datos tooltip" disabled>i</button></a></li>
                <li><a href="#" data-toggle="modal" data-target="#">Cargar Shapes &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Cargar shapes tooltip" disabled>i</button></a></li>
                <!--li><button onclick="load_home();">Julio</button></li-->
              </ul>
            </li>
          <!--1-->
          <!--2-->
          <li><a href="#" data-toggle="modal" data-target="#config">Configuración</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Configuración tooltip" disabled>i</button></li>
          <!--2-->
          <!--3-->
          <li><a href="#" data-toggle="modal" data-target="#sim">Simular</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Simular tooltip" disabled>i</button></li>
          <!--3-->
          <!--4-->
          <li><a href="#" data-toggle="modal" data-target="#fil">Ejecutar</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Ejecutar tooltip" disabled>i</button></li>
          <!--4-->
          <!--5-->
          <li><a href="#" data-toggle="modal" data-target="#rsm">Resumen</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Resumen tooltip" disabled>i</button></li>
          <!--5-->
          <li><a id="descargar" href="descargar/" target="_blank">Descargar</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container" style="width:100%" id="progressBBy">
      <!--h2>Calculando</h2-->
      <div class="progress">
        <div id="progressB" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="10" aria-valuemax="0" style="width:0%">
          <div id="prog">0%</div>
        </div>
      </div>
    </div>
    <!--NavBar-->
    <!--2-Config-->
    <div id="config" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <form action=''  method="POST">
      {% csrf_token %}
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configuración</h4>
        </div>
        <div class="modal-body"><div class="alert alert-warning">
          <strong>¡Advertencia!</strong> Algunas opciones implican un recalculo de los resultados.
        </div>
          <!--Tiempo transporte-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo Maximo de Transporte &nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Limite de tiempo para considerar si una persona llega" disabled>i</button></span>
              <input type="text" name = tiempoTransporte class="form-control" placeholder="{{tiempoMaximo}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Tiempo transporte-->
          <!--Tiempo consulta-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo de Consulta &nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Tiempo que demora la consulta" disabled>i</button></span>
              <input type="text" name = tiempoConsulta class="form-control" placeholder="{{tiempoConsulta}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Tiempo consulta-->
          <!--Template Otro-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Nombre otro  &nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Nombre otro tooltip" disabled>i</button></span>
              <input type="text" name = tiempoConsulta class="form-control" placeholder="{{tiempoConsulta}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Template Otro-->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  <!--2-Config-->
  <!--3-Config-->
  <div id="sim" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='redirectSim/'  method="GET">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Simular</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>¡Advertencia!</strong> Esta operacion puede demorar varias horas.
          </div>
          <div hidden><label class="checkbox-inline"><input type="checkbox" name = simular id="simul" value="1" checked> Simular </label></div>
          <!--Transporte-->
          <div class="panel panel-default">
            <div class="panel-body">
              Transporte
            </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkM" value="-1" checked> Utilizar predeterminadas</label></br>
              <div id="transportesContainer" hidden="true">
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio1" value="1"> Auto </label>
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio2" value="0"> Caminando </label>
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio3" value="2"> Omnibus </label></br>
              </div>
            </div>
          <!--Transporte-->
          </div>
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-body"> Anclas Temporales </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" name = anclaTra id="inlineCheckbox1" value="1" checked> Trabajo </label>
              <label class="checkbox-inline"><input type="checkbox" name = anclaJar id="inlineCheckbox2" value="1" checked> Jardin </label></br>
            </div>
          </div>
          <!--Anclas-->
          <!--Mutualistas-->
          <div class="panel panel-default">
          <div class="panel-body"> Mutualistas </div>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkB" value="-1" checked> Utilizar predeterminadas</label></br>
              <div id="mutualistasContainer"  hidden="true">
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="-2"> Ignorar </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="1"> ASSE </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="2"> As. Española </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="3"> Casa de Galicia </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="4"> CASMU </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="5"> Circulo Catolico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="6"> Cosem </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="7"> Cudam </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="8"> Gremca </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="9"> H. Britanico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="10"> H. Evangelico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="11"> Medica Uruguaya </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="12"> MP </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="13"> SMI </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="14"> Universal </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="15"> IMM </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="16"> BPS </label>
              </div>
            </div>
          </div>
          <!--Mutualistas-->
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-body"> ¿Como quiere el resultado? </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cbCSV" name="checkRango" value="-1" checked> Descargar como .csv</label></br>
            </div>
          </div>
          <div id="rangoIDresult" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Rango de ID&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Rango id tooltip" disabled>i</button></h3>
            </div>
              <div class="panel-body">
              <div class="form-group row"><div class="col-xs-6">
                Desde: <input  class="form-control" placeholder="ID individuo" name= "fromRange" id="fromRange"><br>
                Hasta: <input  class="form-control" placeholder="ID individuo" name="toRange" id="toRange"></div>
              </div>
            </div>
          </div>
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-body"> Generar resumen </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="checkRes" name="checkRes" value="1"> Si</label></br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--3-Config-->
  <!--4-Config-->
  <div id="fil" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='test/'  method="GET">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ejecutar</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>¡Advertencia!</strong> Esta operacion puede demorar varias horas.
          </div>
          <!--Transporte-->
          <div class="panel panel-default">
            <div class="panel-body">
              Transporte
            </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkM2" value="-1" checked> Utilizar predeterminadas</label></br>
              <div id="transportesContainer2" hidden="true">
                <label class="radio-inline"><input type="checkbox" name="tipoTransporte" id="inlineRadio1" value="1" checked> Auto </label>
                <label class="radio-inline"><input type="checkbox" name="tipoTransporte" id="inlineRadio2" value="0" checked> Caminando </label>
                <label class="radio-inline"><input type="checkbox" name="tipoTransporte" id="inlineRadio3" value="2" checked> Omnibus </label></br>
              </div>
            </div>
          <!--Transporte-->
          </div>
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Trabaja&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Trabaja tooltip" disabled>i</button></h3>
            </div>
            <div class="panel-body">
            <div>
           <label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes"> No </label>
          </div>
          </div>
         </div>
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title">Asiste jardin&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Asiste jardin tooltip" disabled>i</button></h3>
           </div>
           <div class="panel-body">
         <div>
          <label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes"> No </label>
         </div>
         </div>
         </div>
          <div class="panel panel-default">
            <div class="panel-body"> ¿Como quiere el resultado? </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cbCSV" name="checkRango" value="-1" checked> Descargar como .csv</label></br>
            </div>
          </div>
          <!--Anclas-->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--4-Config-->
  <!--5-Config-->
  <div id="rsm" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='resumen/'  method="GET">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Resumen</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>¡Advertencia!</strong> Esta operacion puede demorar varias horas.
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Rango de ID&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Rango id tooltip" disabled>i</button></h3>
            </div>
              <div class="panel-body">
              <div class="form-group row"><div class="col-xs-6">
                Desde: <input  class="form-control" placeholder="ID individuo" name= "fromRange" id="fromRange"><br>
                Hasta: <input  class="form-control" placeholder="ID individuo" name="toRange" id="toRange"></div>
              </div>
            </div>
          </div>
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title">Tipo transporte&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Tipo transporte tooltip" disabled>i</button></h3>
             </div>
             <div class="panel-body">
             <div id="transportesContainerResumenes">
               <label class="checkbox-inline"><input type="checkbox" id="autoResumenes" name="autoResumenes" checked value="1"> Auto</label>
               <label class="checkbox-inline"><input type="checkbox" id="caminandoResumenes" name="caminandoResumenes" checked value="1"> Caminado</label>
               <label class="checkbox-inline"><input type="checkbox" id="omnibusResumenes" name="omnibusResumenes" checked value="1"> Omnibus</label>
             </div>
             </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Trabaja&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Trabaja tooltip" disabled>i</button></h3>
              </div>
              <div class="panel-body">
              <div>
             <label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes"> No </label>
            </div>
            </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title">Asiste jardin&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Asiste jardin tooltip" disabled>i</button></h3>
             </div>
             <div class="panel-body">
           <div>
            <label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes"> No </label>
           </div>
           </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="calcularResumen" class="btn btn-primary">Calcular</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--5-Config-->
  <!--1-Config-->
  <div id="cargar_datos" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cargar Datos</h4>
      </div>
      <div class="modal-body">
        <!--alert-->
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>Advertencia: </strong> Se remplazan los datos existentes en la base de datos.
        </div>
        <!--alert-->
       <form action=''  method="post", enctype="multipart/form-data">
         {% csrf_token %}
         <fieldset class="form-group">
           <p>Seleccione los datos a cargar</p>
           <div class="panel-body">
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                   Matriz transporte privado &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Matriz transporte privado tooltip" disabled>i</button>
                 </label>
               </div>
               <div class="form-check">
               <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4">
                   Matriz caminando &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Matriz caminando tooltip" disabled>i</button>
                 </label>
               </div>
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios6" value="option6">
                   Matriz omnibus &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Matriz omnibus tooltip" disabled>i</button>
                 </label>
               </div>
             </div>
             <div class="panel-body">
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios7" value="option7">
                   Tipos de transporte &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Tipos de transporte tooltip" disabled>i</button>
                 </label>
               </div>
             </div>
           <div class="panel-body">
           <div class="form-check">
             <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
               Conjunto de datos de prestadores &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Conjunto de datos de prestadores tooltip" disabled>i</button>
             </label>
           </div>
           <div class="form-check">
           <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
               Conjunto de datos para personas  &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Conjunto de datos para personas tooltip" disabled>i</button>
             </label>
           </div>
           <div class="form-check">
             <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios5" value="option5">
               Conjunto de datos para centros &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="conjunto de datos para centros tooltip" disabled>i</button>
             </label>
           </div>
         </div>
         </fieldset>
         <div class="form-group">
           <label for="inputFile">Seleccione un archivo</label>
           <input type="file" class="form-control-file" name = "inputFile" aria-describedby="fileHelp">
           <small id="fileHelp" class="form-text text-muted">Seleccione el archivo en formato csv.</small>
         </div>
     </div>
     <div class="modal-footer">
       <button type="submit" class="btn btn-primary btn-lg " id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cargando " name="submit" value="Upload" />Cargar</button>
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
       </div>
     </div>
   </form>
   </div>
 </div>
  <!--1-Config-->
  <!--1.3-Config-->
  <div id="generar_shape" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <form action='generate_shape/'  method="GET">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
  	  <h4 class="modal-title">Generar Shape</h4>
          </div>
          <div class="modal-body">
            <label class="checkbox-inline"><input type="checkbox" name="generar_hogares">Generar Shape de Hogares</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_jardines">Generar Shape de Jardines</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_trabajos">Generar Shape de Hogares</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_autos">Generar Shape de Centros Optimos Auto</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_omnibus">Generar Shape de Centros Optimos Omnibus</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_caminando">Generar Shape de Centros Optimos Caminando</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_hogar_autos">Generar Shape [Hogar - Centro Optimo Auto]</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_hogar_omnibus">Generar Shape [Hogar - Centro Optimo Omnibus]</label><br>
            <label class="checkbox-inline"><input type="checkbox" name="generar_hogar_caminando">Generar Shape [Hogar - Centro Optimo Caminando]</label><br>
          </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Calcular</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!--1.3-Config-->
  <!--1.4-Config-->
  <div id="exportar_matriz" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Exportar Matriz</h4>
      </div>
      <div class="modal-body">
        <form>
          <fieldset class="form-group">
            <p>Seleccione los datos a exportar</p>
          </fieldset>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" id="downloadBox" value="download_mutualistas" checked>Matriz transporte privado</label>
            <label class="checkbox-inline"><input type="checkbox" id="downlaodBox" value="download_personas" checked> Matriz caminando </label></br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button-imp" class="btn btn-primary" data-dismiss="modal"  onclick="showAlert()">Descargar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--1.4-Config-->
  <!--1-alert-->
  <div id="implementar" class="alert alert-info alert-dismissable" style="display: none;">
    <a href="#" class="close" onclick="showAlert()">×</a>
    <strong> Función no implementada</strong> en la demo.
  </div>
  <!--1-alert-->
  <!--Mapa-->
  <div class="panel panel-default" id="mapContainer">
    <nav class="navbar navbar-defaul">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Representación Gráfica</a>
        </div>
        <div class="navbar-form navbar-left">
          <button href="#" data-toggle="modal" data-target="#generar_shape">DEBUGGING</button>
          <button class="btn btn-default" href="#" data-toggle="modal" data-target="#generar_shape">UPDATE PLOT</button>
          <button type="button" class="btn btn-default btn-sm" id="rfsh">
            <img src="{% static 'app/img/rfsh.png' %}" />
          </button>
        </div>
      </div>
    </nav>
    <div class="panel-body">
      <div id="map"></div>
    </div>
  </div>
  </body>
  <footer class="container-fluid">UCU ©2017</footer>
  {% load static %}
  <script src="{% static 'app/js/jquery-2.2.1.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">

  function load_home() {
     document.getElementById("map").innerHTML='<object style="height:100%; width:100%; background:#FFFFFF;" type="text/html" data="plot/" ></object>';
   }

  //Task
  window.onload = document.getElementById('descargar').style.visibility = 'hidden'
  window.onload = load_home();
  window.onload = ask2();

  function ask2(/*progressLoop*/) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var obj = JSON.parse(this.responseText);
        var crrnt = (parseFloat(obj['Done'])/parseFloat(obj['Total']))*100
        document.getElementById("progressB").style. width = crrnt.toString()+"%";
        document.getElementById('prog').innerHTML = crrnt.toString()+"%";
        console.log(this);
        if(crrnt>99){
          document.getElementById('descargar').style.visibility = 'visible';
          document.getElementById('progressBBy').style.visibility = 'hidden';
          //clearInterval(progressLoop);
        }
      }
    };
    xhttp.open("GET", "progress/", true);
    xhttp.send();
  }

  function ask(){
      var progressLoop = setInterval(function() { ask2(progressLoop); }, 5000);
  }

  //Loading bar ¨¨¨


  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(document).ready(function(){
  $('input[name="fromRange"]').change(function(){
        if(parseFloat(document.getElementById('fromRange').value) > parseFloat(document.getElementById('toRange').value))
          $('#calcularResumen').hide();
      else
          $('#calcularResumen').show();
      });
  });
  $(document).ready(function(){
  $('input[name="toRange"]').change(function(){
      if(parseFloat(document.getElementById('fromRange').value) > parseFloat(document.getElementById('toRange').value))
          $('#calcularResumen').hide();
      else
          $('#calcularResumen').show();
      });
  });

    //old vvv new ^^^
  $('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 999999);
});
  //Mostrar mutualustas
    $(document).ready(function(){
    $('input[name="checkB"]').change(function(){
        if(this.checked)
            $('#mutualistasContainer').hide();
        else
            $('#mutualistasContainer').show();
        });
    });
    //Mostrar rango de id
      $(document).ready(function(){
      $('input[name="checkRango"]').change(function(){
          if(this.checked)
              $('#rangoIDresult').show();
          else
              $('#rangoIDresult').hide();
          });
      });
      //Mostrar resumen
        $(document).ready(function(){
        $('input[name="checkRes"]').change(function(){
            if(this.checked){
              document.getElementById("cbCSV").disabled = true;
              document.getElementById("cbCSV").checked = true;
            }
            else
              document.getElementById("cbCSV").disabled = false;
            });
        });
    //Mostrar transportes
      $(document).ready(function(){
      $('input[name="checkM"]').change(function(){
          if(this.checked)
              $('#transportesContainer').hide();
          else
              $('#transportesContainer').show();
          });
      });
      //Mostrar transportes2
        $(document).ready(function(){
        $('input[name="checkM2"]').change(function(){
            if(this.checked)
                $('#transportesContainer2').hide();
            else
                $('#transportesContainer2').show();
            });
        });
      //Show Hide alert
      function showAlert() {
        var x = document.getElementById('implementar');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    //Mostrar mutualustas
      $(document).ready(function(){
      $('input[name="checkB"]').change(function(){
          if(this.checked)
              $('#mutualistasContainer').hide();
          else
              $('#mutualistasContainer').show();
          });
      });
      //Mostrar transportes
        $(document).ready(function(){
        $('input[name="checkM"]').change(function(){
            if(this.checked)
              $('#transportesContainer').hide();
            else
              $('#transportesContainer').show();
            });
        });
        //Mostrar mutualustas filtros
          $(document).ready(function(){
          $('input[name="checkBf"]').change(function(){
              if(this.checked)
                  $('#mutualistasContainerFiltros').hide();
              else
                  $('#mutualistasContainerFiltros').show();
              });
          });
          //Mostrar transporte filtros
            $(document).ready(function(){
            $('input[name="checkBf2"]').change(function(){
                if(this.checked)
                    $('#transporteContainerFiltros').hide();
                else
                    $('#transporteContainerFiltros').show();
                });
            });
            //Mostrar transporte filtros
              $(document).ready(function(){
              $('input[name="checkBf3"]').change(function(){
                  if(this.checked)
                      $('#diasContainerFiltros').hide();
                  else
                      $('#diasContainerFiltros').show();
                  });
              });
              //Mostrar horas filtros
                $(document).ready(function(){
                $('input[name="checkBf4"]').change(function(){
                    if(this.checked)
                        $('#horasContainerFiltros').hide();
                    else
                        $('#horasContainerFiltros').show();
                    });
                });
  </script>
</html>
