<!DOCTYPE html>
<html>
  <head>
    <style>
     #map {
       width: 100%;
       height: 750px;
       background-color: grey;
     }
     .btn-circle-micro {
      width: 15px;
      height: 15px;
      text-align: center;
      padding: 1px 0;
      font-size: 10px;
      line-height: 0.1;
      border-radius: 30px;
    }
    </style>
		<meta charset="UTF-8">
		<title>Proyecto 2017</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'app/css/main.css' %}"></link>
    </head>
  <body>
    <!--NavBar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><a class="navbar-brand" href="#">Proyecto 2017-2018</a>
          <ul class="nav navbar-nav">
          <!--1-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cargar<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#cargar_datos">Cargar Datos &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Cargar datos tooltip" disabled>i</button></a></li>
                <li><a href="#" data-toggle="modal" data-target="#">Cargar Shapes &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Cargar shapes tooltip" disabled>i</button></a></li>
              </ul>
            </li>
          <!--1-->
          <!--2-->
          <li><a href="#" data-toggle="modal" data-target="#config">Configuración</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Configuración tooltip" disabled>i</button></li>
          <!--2-->
          <!--3-->
          <li><a href="#" data-toggle="modal" data-target="#sim">Simular</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Simular tooltip" disabled>i</button></li>
          <!--3-->
          <!--4-->
          <li><a href="#" data-toggle="modal" data-target="#fil">Ejecutar</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Ejecutar tooltip" disabled>i</button></li>
          <!--4-->
          <!--5-->
          <li><a href="#" data-toggle="modal" data-target="#rsm">Resumen</a></li>
          <li><button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Resumen tooltip" disabled>i</button></li>
          <!--5-->
          </ul>
        </div>
      </div>
    </nav>
    <!--NavBar-->
    <!--2-Config-->
    <div id="config" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
      <form action=''  method="POST">
      {% csrf_token %}
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Configuración</h4>
        </div>
        <div class="modal-body"><div class="alert alert-warning">
          <strong>¡Advertencia!</strong> Algunas opciones implican un recalculo de los resultados.
        </div>
          <!--Tiempo transporte-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo Maximo de Transporte &nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Limite de tiempo para considerar si una persona llega" disabled>i</button></span>
              <input type="text" name = tiempoTransporte class="form-control" placeholder="{{tiempoMaximo}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Tiempo transporte-->
          <!--Tiempo consulta-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Tiempo de Consulta &nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Tiempo que demora la consulta" disabled>i</button></span>
              <input type="text" name = tiempoConsulta class="form-control" placeholder="{{tiempoConsulta}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Tiempo consulta-->
          <!--Template Otro-->
          <div class="panel-body">
            <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">Nombre otro  &nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Nombre otro tooltip" disabled>i</button></span>
              <input type="text" name = tiempoConsulta class="form-control" placeholder="{{tiempoConsulta}} minutos" aria-describedby="sizing-addon2"><!--###El place holder deberia de ser cargado con el tiempo en la bd-->
            </div>
          </div>
          <!--Template Otro-->
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" >Guardar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
  <!--2-Config-->
  <!--3-Config-->
  <div id="sim" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='consulta/'  method="POST">
    {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Simular</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>¡Advertencia!</strong> Esta operacion puede demorar varias horas.
          </div>
          <div hidden><label class="checkbox-inline"><input type="checkbox" name = simular id="simul" value="1" checked> Simular </label></div>
          <!--Transporte-->
          <div class="panel panel-default">
            <div class="panel-body">
              Transporte
            </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkM" value="-1" checked> Utilizar predeterminadas</label></br>
              <div id="transportesContainer" hidden="true">
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio1" value="1"> Auto </label>
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio2" value="0"> Caminando </label>
                <label class="radio-inline"><input type="radio" name="tipoTransporte" id="inlineRadio3" value="2"> Omnibus </label></br>
              </div>
            </div>
          <!--Transporte-->
          </div>
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-body"> Anclas Temporales </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" name = anclaTra id="inlineCheckbox1" value="1" checked> Trabajo </label>
              <label class="checkbox-inline"><input type="checkbox" name = anclaJar id="inlineCheckbox2" value="1" checked> Jardin </label></br>
            </div>
          </div>
          <!--Anclas-->
          <!--Mutualistas-->
          <div class="panel panel-default">
          <div class="panel-body"> Mutualistas </div>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkB" value="-1" checked> Utilizar predeterminadas</label></br>
              <div id="mutualistasContainer"  hidden="true">
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="-2"> Ignorar </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="1"> ASSE </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="2"> As. Española </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="3"> Casa de Galicia </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="4"> CASMU </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="5"> Circulo Catolico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="6"> Cosem </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="7"> Cudam </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="8"> Gremca </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="9"> H. Britanico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="10"> H. Evangelico </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="11"> Medica Uruguaya </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="12"> MP </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="13"> SMI </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="14"> Universal </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="15"> IMM </label>
                <label class="radio-inline"><input type="radio" name="prestador" id="inlineRadio" value="16"> BPS </label>
              </div>
            </div>
          </div>
          <!--Mutualistas-->
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-body"> ¿Como quiere el resultado? </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cbCSV" name="checkRango" value="-1" checked> Descargar como .csv</label></br>
            </div>
          </div>
          <div id="rangoIDresult" class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Rango de ID&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Rango id tooltip" disabled>i</button></h3>
            </div>
              <div class="panel-body">
              <div class="form-group row"><div class="col-xs-6">
                Desde: <input  class="form-control" placeholder="ID individuo" name= "fromRange" id="fromRange"><br>
                Hasta: <input  class="form-control" placeholder="ID individuo" name="toRange" id="toRange"></div>
              </div>
            </div>
          </div>
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-body"> Generar resumen </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="checkRes" name="checkRes" value="1"> Si</label></br>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Calcular</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--3-Config-->
  <!--4-Config-->
  <div id="fil" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='test/'  method="GET">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Ejecutar</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>¡Advertencia!</strong> Esta operacion puede demorar varias horas.
          </div>
          <!--Transporte-->
          <div class="panel panel-default">
            <div class="panel-body">
              Transporte
            </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cb" name="checkM2" value="-1" checked> Utilizar predeterminadas</label></br>
              <div id="transportesContainer2" hidden="true">
                <label class="radio-inline"><input type="checkbox" name="tipoTransporte" id="inlineRadio1" value="1" checked> Auto </label>
                <label class="radio-inline"><input type="checkbox" name="tipoTransporte" id="inlineRadio2" value="0" checked> Caminando </label>
                <label class="radio-inline"><input type="checkbox" name="tipoTransporte" id="inlineRadio3" value="2" checked> Omnibus </label></br>
              </div>
            </div>
          <!--Transporte-->
          </div>
          <!--Anclas-->
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Trabaja&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Trabaja tooltip" disabled>i</button></h3>
            </div>
            <div class="panel-body">
            <div>
           <label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes"> No </label>
          </div>
          </div>
         </div>
         <div class="panel panel-default">
           <div class="panel-heading">
             <h3 class="panel-title">Asiste jardin&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Asiste jardin tooltip" disabled>i</button></h3>
           </div>
           <div class="panel-body">
         <div>
          <label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes"> No </label>
         </div>
         </div>
         </div> 
          <div class="panel panel-default">
            <div class="panel-body"> ¿Como quiere el resultado? </div>
            <div class="panel-footer">
              <label class="checkbox-inline"><input type="checkbox" id="cbCSV" name="checkRango" value="-1" checked> Descargar como .csv</label></br>
            </div>
          </div>
          <!--Anclas-->
          <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
              50% Completado
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--4-Config-->
  <!--5-Config-->
  <div id="rsm" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
    <form action='resumen/'  method="GET">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Resumen</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <strong>¡Advertencia!</strong> Esta operacion puede demorar varias horas.
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Rango de ID&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Rango id tooltip" disabled>i</button></h3>
            </div>
              <div class="panel-body">
              <div class="form-group row"><div class="col-xs-6">
                Desde: <input  class="form-control" placeholder="ID individuo" name= "fromRange" id="fromRange"><br>
                Hasta: <input  class="form-control" placeholder="ID individuo" name="toRange" id="toRange"></div>
              </div>
            </div>
          </div>
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title">Tipo transporte&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Tipo transporte tooltip" disabled>i</button></h3>
             </div>
             <div class="panel-body">
             <div id="transportesContainerResumenes">
               <label class="checkbox-inline"><input type="checkbox" id="autoResumenes" name="autoResumenes" checked value="1"> Auto</label>
               <label class="checkbox-inline"><input type="checkbox" id="caminandoResumenes" name="caminandoResumenes" checked value="1"> Caminado</label>
               <label class="checkbox-inline"><input type="checkbox" id="omnibusResumenes" name="omnibusResumenes" checked value="1"> Omnibus</label>
             </div>
             </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Trabaja&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Trabaja tooltip" disabled>i</button></h3>
              </div>
              <div class="panel-body">
              <div>
             <label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="trabajaResumenes" id="trabajaResumenes"> No </label>
            </div>
            </div>
           </div>
           <div class="panel panel-default">
             <div class="panel-heading">
               <h3 class="panel-title">Asiste jardin&nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Asiste jardin tooltip" disabled>i</button></h3>
             </div>
             <div class="panel-body">
           <div>
            <label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="0"> Por defecto </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes" value="1"> Si </label><label class="radio-inline"><input type="radio" name="jardinResumenes" id="jardinResumenes"> No </label>
           </div>
           </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="calcularResumen" class="btn btn-primary">Calcular</button>
        </div>
      </div>
    </form>
    </div>
  </div>
  <!--5-Config-->
  <!--1-Config-->
  <div id="cargar_datos" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cargar Datos</h4>
      </div>
      <div class="modal-body">
        <!--alert-->
        <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
          <strong>Advertencia: </strong> Se remplazan los datos existentes en la base de datos.
        </div>
        <!--alert-->
       <form action=''  method="post", enctype="multipart/form-data">
         {% csrf_token %}
         <fieldset class="form-group">
           <p>Seleccione los datos a cargar</p>
           <div class="panel-body">
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
                   Matriz transporte privado &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Matriz transporte privado tooltip" disabled>i</button>
                 </label>
               </div>
               <div class="form-check">
               <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios4" value="option4">
                   Matriz caminando &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Matriz caminando tooltip" disabled>i</button>
                 </label>
               </div>
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios6" value="option6">
                   Matriz omnibus &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Matriz omnibus tooltip" disabled>i</button>
                 </label>
               </div>
             </div>
             <div class="panel-body">
               <div class="form-check">
                 <label class="form-check-label">
                   <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios7" value="option7">
                   Tipos de transporte &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Tipos de transporte tooltip" disabled>i</button>
                 </label>
               </div>
             </div>
           <div class="panel-body">
           <div class="form-check">
             <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1">
               Conjunto de datos de prestadores &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Conjunto de datos de prestadores tooltip" disabled>i</button>
             </label>
           </div>
           <div class="form-check">
           <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
               Conjunto de datos para personas  &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="Conjunto de datos para personas tooltip" disabled>i</button>
             </label>
           </div>
           <div class="form-check">
             <label class="form-check-label">
               <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios5" value="option5">
               Conjunto de datos para centros &nbsp;&nbsp;<button href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn-circle-micro" data-toggle="tooltip" data-placement="bottom" title="conjunto de datos para centros tooltip" disabled>i</button>
             </label>
           </div>
         </div>
         </fieldset>
         <div class="form-group">
           <label for="inputFile">Seleccione un archivo</label>
           <input type="file" class="form-control-file" name = "inputFile" aria-describedby="fileHelp">
           <small id="fileHelp" class="form-text text-muted">Seleccione el archivo en formato csv.</small>
         </div>
     </div>
     <div class="modal-footer">
       <button type="submit" class="btn btn-primary btn-lg " id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cargando " name="submit" value="Upload" />Cargar</button>
       <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
       </div>
     </div>
   </form>
   </div>
 </div>
  <!--1-Config-->
  <!--1.3-Config-->
    <div id="importar_matriz" class="modal fade" role="dialog">
      <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Importar Matriz</h4>
        </div>
        <div class="modal-body">
          <!--alert-->
          <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Advertencia: </strong> Se remplazan los datos existentes en la base de datos.
          </div>
          <!--alert-->
          <form action=''  method="post",  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
              <p>Seleccione la matriz a cargar</p>
              <div class="form-check">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionRadioMatrix" id="optionsRadios1" value="option1" checked>
                  Matriz transporte privado
                </label>
              </div>
              <div class="form-check">
              <label class="form-check-label">
                  <input type="radio" class="form-check-input" name="optionRadioMatrix" id="optionsRadios2" value="option2">
                  Matriz caminando
                </label>
              </div>
            </fieldset>
            <div class="form-group">
              <label for="exampleInputFile">Seleccione un archivo</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <input type="submit" class="btn btn-primary" name="submit" value="Upload">
              <small id="fileHelp" class="form-text text-muted">Seleccione el archivo en formato csv.</small>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal"  onclick="showAlert()">Importar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!--1.3-Config-->
  <!--1.4-Config-->
  <div id="exportar_matriz" class="modal fade" role="dialog">
    <div class="modal-dialog">
    <!-- Modal content-->
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Exportar Matriz</h4>
      </div>
      <div class="modal-body">
        <form>
          <fieldset class="form-group">
            <p>Seleccione los datos a exportar</p>
          </fieldset>
          <div class="panel-footer">
            <label class="checkbox-inline"><input type="checkbox" id="downloadBox" value="download_mutualistas" checked>Matriz transporte privado</label>
            <label class="checkbox-inline"><input type="checkbox" id="downlaodBox" value="download_personas" checked> Matriz caminando </label></br>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button-imp" class="btn btn-primary" data-dismiss="modal"  onclick="showAlert()">Descargar</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
  <!--1.4-Config-->
  <!--1-alert-->
  <div id="implementar" class="alert alert-info alert-dismissable" style="display: none;">
    <a href="#" class="close" onclick="showAlert()">×</a>
    <strong> Función no implementada</strong> en la demo.
  </div>
  <!--1-alert-->
  <!--Mapa-->
  <div class="panel panel-default" id="mapContainer">
    <nav class="navbar navbar-defaul">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">Graficar</a>
        </div>
        <div class="navbar-form navbar-left">
          <div class="form-group">
            <select class="form-control"  id="nme">
              <option>Hogar</option>
              <option>Jardin</option>
              <option>Trabajo</option>
            </select>
            <input  class="form-control" placeholder="Latitud" id="latO">
            <input  class="form-control" placeholder="Longitud" id="lngO">
            <button class="btn btn-default" id="cvtBtn">Convertir</button>
          </div>
          <button class="btn btn-default" id="addBtn">Agregar</button>
          <input class="form-control" onclick="clearMarkers();" type=button value="Ocultar Marcadores">
          <input class="form-control" onclick="showMarkers();" type=button value="Mostrar Marcadores">
          <select class="form-control"  id="lgrsA"></select>
          <select class="form-control"  id="lgrsB"></select>
          <button class="btn btn-default" id="unrBtn">Unir</button>
          <button class="form-control" onclick="toggleHeatmap()">Heatmap</button>
          <button class="form-control" onclick="changeGradient()">Gradiente</button>
          <button class="form-control" onclick="changeRadius()">Radio</button>
          <button class="form-control" onclick="changeOpacity()">Opacidad</button>
          <button type="button" class="btn btn-default btn-sm" id="rfsh">
            <img src="{% static 'app/img/rfsh.png' %}" />
          </button>
        </div>
      </div>
    </nav>
    <div class="panel-body">
      <div  id="map"></div>
    </div>
  </div>
  </body>
  <footer class="container-fluid">UCU ©2017</footer>
  {% load static %}
  <script src="{% static 'app/js/jquery-2.2.1.min.js' %}"></script>
  <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript">

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  $(document).ready(function(){
  $('input[name="fromRange"]').change(function(){
        if(parseFloat(document.getElementById('fromRange').value) > parseFloat(document.getElementById('toRange').value))
          $('#calcularResumen').hide();
      else
          $('#calcularResumen').show();
      });
  });
  $(document).ready(function(){
  $('input[name="toRange"]').change(function(){
      if(parseFloat(document.getElementById('fromRange').value) > parseFloat(document.getElementById('toRange').value))
          $('#calcularResumen').hide();
      else
          $('#calcularResumen').show();
      });
  });
  //Cargar Mapa
    var map, heatmap;
    var markers = [];
    var lugares = ['Hogar','Jardin','Trabajo'];
    function initMap() {
      var latO	 =  -34.888664;
      var lngO	 =  -56.159157;
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: parseFloat(latO), lng: parseFloat(lngO)},
          zoom: 12
        });
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }

    function toggleHeatmap() {
      heatmap.setMap(heatmap.getMap() ? null : map);
    }
    function changeGradient() {
      var gradient = [
        'rgba(0, 255, 255, 0)',
        'rgba(0, 255, 255, 1)',
        'rgba(0, 191, 255, 1)',
        'rgba(0, 127, 255, 1)',
        'rgba(0, 63, 255, 1)',
        'rgba(0, 0, 255, 1)',
        'rgba(0, 0, 223, 1)',
        'rgba(0, 0, 191, 1)',
        'rgba(0, 0, 159, 1)',
        'rgba(0, 0, 127, 1)',
        'rgba(63, 0, 91, 1)',
        'rgba(127, 0, 63, 1)',
        'rgba(191, 0, 31, 1)',
        'rgba(255, 0, 0, 1)'
        ]
      heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
    }

    function changeRadius() {
      heatmap.set('radius', heatmap.get('radius') ? null : 20);
    }
    function changeOpacity() {
      heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
    }
    function getPoints() {
      centros = [[-34.90789983084485,-56.21188583082826],[-34.87420988513144,-56.25163024169635],[-34.85471267658412,-56.24552782077986],[-34.83191038444337,-56.245965540530364],[-34.843894250396865,-56.250296937907216],[-34.803248635125335,-56.338211093376394],[-34.850800285929566,-56.2442618485746],[-34.86545843742159,-56.2207588942146],
      [-34.86608203085772,-56.249647056045056],[-34.82663949876625,-56.31851522482474],[-34.844464403125755,-56.2744204026315],[-34.858253317934846,-56.250844929833555],[-34.82153632090448,-56.28257105901889],[-34.849959488647926,-56.267480933571036],[-34.853800684284685,-56.27044416616361],[-34.8562983618083,-56.242406587252425],
      [-34.879303779464315,-56.270766002198755],[-34.86605518758125,-56.33487468811004],[-34.86119948489274,-56.23451772101251],[-34.885875069856255,-56.29326195595671],[-34.78865020965208,-56.353488230567855],[-34.84352816857524,-56.256764379118465],[-34.85411444055079,-56.230645320650936],[-34.86653778040478,-56.26819825988321],
      [-34.82874015251763,-56.35481541868589],[-34.86938348309337,-56.170710686191256],[-34.87075120451768,-56.21788613640903],[-34.85582585387369,-56.174008184617904],[-34.84875465974794,-56.18715003303194],[-34.84673805913104,-56.17292864283959],[-34.84010977533783,-56.12267358880144],[-34.77544355034039,-56.04218221156409],
      [-34.79827494930011,-56.09270565902401],[-34.78617033514172,-56.06252976892369],[-34.801723733387725,-56.087234708137714],[-34.77715900212743,-56.03446863973209],[-34.77613011900128,-56.05270934264765],[-34.847491549773856,-56.112650420012066],[-34.81521909776607,-56.10567799980142],[-34.8715300659978,-56.09684602022626],
      [-34.87650983087791,-56.06580644984409],[-34.87256576540402,-56.11199310003916],[-34.871731816065086,-56.11801951020081],[-34.8444076522377,-56.13978043952838],[-34.86254576959341,-56.16589023011387],[-34.83502601996224,-56.15830933006757],[-34.822451211775245,-56.169998020217506],[-34.82337489785785,-56.156308159677586],
      [-34.835100819893434,-56.17420397976129],[-34.840236354210916,-56.15405066012133],[-34.836222539024135,-56.17978070048926],[-34.822819710885796,-56.168651923531804],[-34.819439174559975,-56.13971423995263],[-34.82158530217835,-56.14121829018119],[-34.80626198067365,-56.16336815965943],[-34.786262994742266,-56.15764438050916],
      [-34.802381163799545,-56.12136366987247],[-34.788198336290826,-56.1279899204364],[-34.797867465131866,-56.14886058680188],[-34.82623588088439,-56.13236061953023],[-34.75702752663112,-56.11011431944802],[-34.83192960040328,-56.219397550325596],[-34.82240069757118,-56.231114739690135],[-34.7877069212733,-56.23316253966531],
      [-34.79841494448431,-56.22825358994971],[-34.84363561364284,-56.19290550999112],[-34.807863782733875,-56.214863950168244],[-34.81419020878629,-56.21325737052464],[-34.839948317792974,-56.192551489437],[-34.797028491126085,-56.24891251016661],[[]-34.82675142877273,-56.22711810980732],[-34.83577597287922,-56.22986383005261]]


      //alert(centros)
      points = [];
      for(var i =0;i<centros.length;i++){
        points.push(new google.maps.LatLng(centros[i][0],centros[i][1]))
      }
        return points
    }

    var count = -1;
    $(function() {
          var btn = $('#addBtn').click(function () {
            btn.button('loading')
            var nme = document.getElementById("nme").value;
            var originLat = parseFloat(document.getElementById("latO").value);
            var originLong = parseFloat(document.getElementById("lngO").value);
            lugares[nme]=[originLat,originLong];
            document.getElementById('lgrsA').innerHTML += '<option>'+nme+'</option>';
            document.getElementById('lgrsB').innerHTML += '<option>'+nme+'</option>';
            var icn = "{% static 'app/img/tbj.png' %}";
            if(nme=='Jardin'){
              icn =  "{% static 'app/img/jrd.png' %}";
            } else if (nme == 'Hogar'){
              icn =  "{% static 'app/img/hme.png' %}";
            }
            var myLatLng = {lat: originLat, lng: originLong};
            addMarker(myLatLng,icn,nme);
            setTimeout(function () {
              btn.button('reset')
            }, 300)
          })
        })
        function addMarker(location,icn,nme) {
        var marker = new google.maps.Marker({
          position: location,
          icon: icn,
          map: map,
          title: nme
        });
        markers.push(marker);
      }
        // Sets the map on all markers in the array.
      function setMapOnAll(map) {
         for (var i = 0; i < markers.length; i++) {
             markers[i].setMap(map);
         }
       }
       // Removes the markers from the map, but keeps them in the array.
       function clearMarkers() {
         setMapOnAll(null);
       }
       // Shows any markers currently in the array.
       function showMarkers() {
         setMapOnAll(map);
       }
        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
         clearMarkers();
         markers = [];
        }

        $(function() {
              var btn = $('#unrBtn').click(function () {
                btn.button('loading')
                var org = lugares[document.getElementById("lgrsA").value];
                var dst = lugares[document.getElementById("lgrsB").value];
                var flightPlanCoordinates = [
                      {lat: org[0], lng: org[1]},
                      {lat: dst[0], lng: dst[1]}]
                var camino = new google.maps.Polyline({
                    path: flightPlanCoordinates,
                    geodesic: true,
                    strokeColor: '#FF0000',
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                    icons: [{
                        icon: {path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW},
                        offset: '100%'
                    }]
                  });
                  camino.setMap(map);
                setTimeout(function () {
                  btn.button('reset')
                }, 300)
              })
            })

          $(function() {
                var btn = $('#cvtBtn').click(function () {
                  btn.button('loading')
                  var x = parseFloat(document.getElementById("latO").value);
                  var y = parseFloat(document.getElementById("lngO").value);
                  var xy = utmToLatLng(x,y)
                  document.getElementById("latO").value = xy[0];
                  document.getElementById("lngO").value = xy[1];
                  setTimeout(function () {
                    btn.button('reset')
                  }, 300)
                })
              })

            $(function() {
              var btn = $('#rfsh').click(function () {
                btn.button('loading')
                document.getElementById('lgrsA').innerHTML = '';
                document.getElementById('lgrsB').innerHTML = '';
                lugares['Hogar'] = [0,0];
                lugares['Jardin'] = [0,0];
                lugares['Trabajo'] = [0,0];
                deleteMarkers();
                setTimeout(function () {
                btn.button('reset')
                }, 300)
              })
            })

        function utmToLatLng(easting, northing){
            var zone = 21; //Cambiar: montevideo esta en la zona 21
            var northernHemisphere =0;//Cambiar: montevideo esta al sur
            if (!northernHemisphere){
                northing = 10000000 - northing;
            }

            var a = 6378137;
            var e = 0.081819191;
            var e1sq = 0.006739497;
            var k0 = 0.9996;

            var arc = northing / k0;
            var mu = arc / (a * (1 - Math.pow(e, 2) / 4.0 - 3 * Math.pow(e, 4) / 64.0 - 5 * Math.pow(e, 6) / 256.0));

            var ei = (1 - Math.pow((1 - e * e), (1 / 2.0))) / (1 + Math.pow((1 - e * e), (1 / 2.0)));

            var ca = 3 * ei / 2 - 27 * Math.pow(ei, 3) / 32.0;

            var cb = 21 * Math.pow(ei, 2) / 16 - 55 * Math.pow(ei, 4) / 32;
            var cc = 151 * Math.pow(ei, 3) / 96;
            var cd = 1097 * Math.pow(ei, 4) / 512;
            var phi1 = mu + ca * Math.sin(2 * mu) + cb * Math.sin(4 * mu) + cc * Math.sin(6 * mu) + cd * Math.sin(8 * mu);

            var n0 = a / Math.pow((1 - Math.pow((e * Math.sin(phi1)), 2)), (1 / 2.0));

            var r0 = a * (1 - e * e) / Math.pow((1 - Math.pow((e * Math.sin(phi1)), 2)), (3 / 2.0));
            var fact1 = n0 * Math.tan(phi1) / r0;

            var _a1 = 500000 - easting;
            var dd0 = _a1 / (n0 * k0);
            var fact2 = dd0 * dd0 / 2;

            var t0 = Math.pow(Math.tan(phi1), 2);
            var Q0 = e1sq * Math.pow(Math.cos(phi1), 2);
            var fact3 = (5 + 3 * t0 + 10 * Q0 - 4 * Q0 * Q0 - 9 * e1sq) * Math.pow(dd0, 4) / 24;

            var fact4 = (61 + 90 * t0 + 298 * Q0 + 45 * t0 * t0 - 252 * e1sq - 3 * Q0 * Q0) * Math.pow(dd0, 6) / 720;

            var lof1 = _a1 / (n0 * k0);
            var lof2 = (1 + 2 * t0 + Q0) * Math.pow(dd0, 3) / 6.0;
            var lof3 = (5 - 2 * Q0 + 28 * t0 - 3 * Math.pow(Q0, 2) + 8 * e1sq + 24 * Math.pow(t0, 2)) * Math.pow(dd0, 5) / 120;
            var _a2 = (lof1 - lof2 + lof3) / Math.cos(phi1);
            var _a3 = _a2 * 180 / Math.PI;

            var latitude = 180 * (phi1 - fact1 * (fact2 + fact3 + fact4)) / Math.PI;

            if (!northernHemisphere){
                latitude = -latitude;
            }

            var longitude = ((zone > 0) && (6 * zone - 183.0) || 3.0) - _a3;

            var res=  [latitude, longitude];
            return res;
            }

    //old vvv new ^^^
  $('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 999999);
});
  //Mostrar mutualustas
    $(document).ready(function(){
    $('input[name="checkB"]').change(function(){
        if(this.checked)
            $('#mutualistasContainer').hide();
        else
            $('#mutualistasContainer').show();
        });
    });
    //Mostrar rango de id
      $(document).ready(function(){
      $('input[name="checkRango"]').change(function(){
          if(this.checked)
              $('#rangoIDresult').show();
          else
              $('#rangoIDresult').hide();
          });
      });
      //Mostrar resumen
        $(document).ready(function(){
        $('input[name="checkRes"]').change(function(){
            if(this.checked){
              document.getElementById("cbCSV").disabled = true;
              document.getElementById("cbCSV").checked = true;
            }
            else
              document.getElementById("cbCSV").disabled = false;
            });
        });
    //Mostrar transportes
      $(document).ready(function(){
      $('input[name="checkM"]').change(function(){
          if(this.checked)
              $('#transportesContainer').hide();
          else
              $('#transportesContainer').show();
          });
      });
      //Mostrar transportes2
        $(document).ready(function(){
        $('input[name="checkM2"]').change(function(){
            if(this.checked)
                $('#transportesContainer2').hide();
            else
                $('#transportesContainer2').show();
            });
        });
      //Show Hide alert
      function showAlert() {
        var x = document.getElementById('implementar');
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
    //Mostrar mutualustas
      $(document).ready(function(){
      $('input[name="checkB"]').change(function(){
          if(this.checked)
              $('#mutualistasContainer').hide();
          else
              $('#mutualistasContainer').show();
          });
      });
      //Mostrar transportes
        $(document).ready(function(){
        $('input[name="checkM"]').change(function(){
            if(this.checked)
              $('#transportesContainer').hide();
            else
              $('#transportesContainer').show();
            });
        });
        //Mostrar mutualustas filtros
          $(document).ready(function(){
          $('input[name="checkBf"]').change(function(){
              if(this.checked)
                  $('#mutualistasContainerFiltros').hide();
              else
                  $('#mutualistasContainerFiltros').show();
              });
          });
          //Mostrar transporte filtros
            $(document).ready(function(){
            $('input[name="checkBf2"]').change(function(){
                if(this.checked)
                    $('#transporteContainerFiltros').hide();
                else
                    $('#transporteContainerFiltros').show();
                });
            });
            //Mostrar transporte filtros
              $(document).ready(function(){
              $('input[name="checkBf3"]').change(function(){
                  if(this.checked)
                      $('#diasContainerFiltros').hide();
                  else
                      $('#diasContainerFiltros').show();
                  });
              });
              //Mostrar horas filtros
                $(document).ready(function(){
                $('input[name="checkBf4"]').change(function(){
                    if(this.checked)
                        $('#horasContainerFiltros').hide();
                    else
                        $('#horasContainerFiltros').show();
                    });
                });
  </script>
  <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALIO88xKB1Hwd4kKalnRZQvtu5iCwLBVQ&libraries=visualization&callback=initMap">
   </script>
</html>
